html,body{
    height: 100%;
    margin: 0;
}
.container {
    position: relative;
    width: 100vw;
    height: calc(100vw * 1.77);
}
.card{
    z-index: 10;
}
.backImg{
    position: absolute;
    width: 100%;
    -webkit-touch-callout:none;
}
.draggable {
    position: absolute;
    cursor: move;
    -webkit-touch-callout:none;
}

.dropzone {
    position: absolute;
    z-index: 1;
}

.cardcontainer{
    width: 15%;
    height: 10%;
    border: 1px solid;
}
